<h2>Methods that were not run</h2><table>
<tr><td>com.aqa.TestCases.LoginScenarios.UserValid<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify that User can Login successfully with valid credentials</i></td></tr>
</table>