<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NerveSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7a071">  <td>23/04/20 05:37:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSetup.close_browser()[pri:0, instance:com.aqa.TestCases.CheckSortASC@39a2bb97]">&lt;&lt;close_browser</td> 
<td>&nbsp;</td>  <td>main@1215946669</td>   <td></td> </tr>
<tr bgcolor="8673bc">  <td>23/04/20 05:37:19</td>   <td>-4737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckSortASC.CheckSort()[pri:1, instance:com.aqa.TestCases.CheckSortASC@39a2bb97]">CheckSort</td> 
  <td>main@1215946669</td>   <td></td> </tr>
<tr bgcolor="b7a071">  <td>23/04/20 05:37:16</td>   <td>-8124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserSetup.launch_browser()[pri:0, instance:com.aqa.TestCases.CheckSortASC@39a2bb97]">&gt;&gt;launch_browser</td> 
<td>&nbsp;</td>  <td>main@1215946669</td>   <td></td> </tr>
<tr bgcolor="b7a071">  <td>23/04/20 05:37:02</td>   <td>-21738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserSetup.launch_browser()[pri:0, instance:com.aqa.TestCases.LoginScenarios@673be18f]">&gt;&gt;launch_browser</td> 
<td>&nbsp;</td>  <td>main@1215946669</td>   <td></td> </tr>
<tr bgcolor="b7a071">  <td>23/04/20 05:37:15</td>   <td>-8583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSetup.close_browser()[pri:0, instance:com.aqa.TestCases.LoginScenarios@673be18f]">&lt;&lt;close_browser</td> 
<td>&nbsp;</td>  <td>main@1215946669</td>   <td></td> </tr>
<tr bgcolor="7eb8cb">  <td>23/04/20 05:37:14</td>   <td>-9694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenarios.UserValid()[pri:1, instance:com.aqa.TestCases.LoginScenarios@673be18f]">UserValid</td> 
  <td>main@1215946669</td>   <td></td> </tr>
</table>
