<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62b792">  <td>23/04/18 14:44:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserSetup.launch_browser()[pri:0, instance:com.aqa.TestCases.CheckSortDESC@13e344d]">&gt;&gt;launch_browser</td> 
<td>&nbsp;</td>  <td>main@1605851606</td>   <td></td> </tr>
<tr bgcolor="e495ff">  <td>23/04/18 14:44:52</td>   <td>6521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CheckSortDESC.CheckSort()[pri:1, instance:com.aqa.TestCases.CheckSortDESC@13e344d]">CheckSort</td> 
  <td>main@1605851606</td>   <td></td> </tr>
<tr bgcolor="62b792">  <td>23/04/18 14:44:57</td>   <td>11677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSetup.close_browser()[pri:0, instance:com.aqa.TestCases.CheckSortDESC@13e344d]">&lt;&lt;close_browser</td> 
<td>&nbsp;</td>  <td>main@1605851606</td>   <td></td> </tr>
</table>
